* {
  font-family: "Roboto", sans-serif;
}

/* body {
    background-image: radial-gradient(var(--outerspace), var(--gin));
} */
.hidden {
  display: none;
}

div {
    display: block;
    text-align: center;
}

.timer-count {
    position: fixed;
    top: 10px;
    right: 10px;
}
